[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
jupyterlab = "*"
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
plantuml-markdown = "*"

[dev-packages]

[requires]
python_version = "3"
